<form class="signup-form" novalidate (submit)="onSubmit($event)">
    <div class="signup-form__row">
        <div class="signup-form__field">
            <label for="firstName" class="signup-form__label">
                {{ 'auth.signup.firstNameLabel' | translate }}
            </label>
            <input type="text" id="firstName" [field]="form.firstName" class="signup-form__input"
                [attr.placeholder]="'auth.signup.firstNamePlaceholder' | translate">
            @if (form.firstName().touched() && form.firstName().invalid()) {
            <ul class="signup-form__errors">
                @for (e of form.firstName().errors(); track e) { <li>{{ e.message }}</li> }
            </ul>
            }
        </div>
        <div class="signup-form__field">
            <label for="lastName" class="signup-form__label">
                {{ 'auth.signup.lastNameLabel' | translate }}
            </label>
            <input type="text" id="lastName" [field]="form.lastName" class="signup-form__input"
                [attr.placeholder]="'auth.signup.lastNamePlaceholder' | translate">
            @if (form.lastName().touched() && form.lastName().invalid()) {
            <ul class="signup-form__errors">
                @for (e of form.lastName().errors(); track e) { <li>{{ e.message }}</li> }
            </ul>
            }
        </div>
    </div>
    <div class="signup-form__field">
        <label for="register-email" class="signup-form__label">
            {{ 'auth.signup.emailLabel' | translate }}
        </label>
        <input type="email" id="register-email" [field]="form.email" class="signup-form__input"
            [attr.placeholder]="'auth.signup.emailPlaceholder' | translate">
        @if (form.email().touched() && form.email().invalid()) {
        <ul class="signup-form__errors">
            @for (e of form.email().errors(); track e) { <li>{{ e.message }}</li> }
        </ul>
        }
    </div>
    <div class="signup-form__field">
        <label for="register-password" class="signup-form__label">
            {{ 'auth.signup.passwordLabel' | translate }}
        </label>
        <input type="password" id="register-password" [field]="form.password" placeholder="••••••••"
            class="signup-form__input">
        @if (form.password().touched() && form.password().invalid()) {
        <ul class="signup-form__errors">
            @for (e of form.password().errors(); track e) { <li>{{ e.message }}</li> }
        </ul>
        }
    </div>
    <button type="submit" [disabled]="form().submitting() || form().invalid()" class="signup-form__submit">
        {{ buttonText()}}
    </button>
    @if (error()) {
    <p class="signup-form__error-message">{{ error() }}</p>
    }
    <div class="signup-form__switch">
        <span>{{ 'auth.signup.alreadyHaveAccount' | translate }}</span>
        <button type="button" (click)="switchToSignin()" class="signup-form__switch-link">{{ 'auth.signup.login' | translate }}</button>
    </div>
</form>
