<h1 class="users-management-page__title" i18n>User Management</h1>

<div class="users-management-page__card">
  <div class="users-management-page__toolbar">
    <div class="users-management-page__search-wrap">
      <label for="table-search-users" class="sr-only" i18n>Search</label>
      <div class="users-management-page__search-inner">
        <div class="users-management-page__search-icon">
          <i class="fa fa-search"></i>
        </div>
        <input type="text" id="table-search-users" [value]="searchTerm()" (input)="onSearch($any($event.target).value)"
          class="users-management-page__search-input"
          i18n-placeholder placeholder="Search for users by name or email">
      </div>
    </div>
    <p class="users-management-page__count">{{ total() }} <span i18n>users total</span></p>
  </div>

  <div class="users-management-page__table-wrap">
    <table class="users-management-page__table">
      <thead class="users-management-page__thead">
        <tr>
          <th scope="col" class="users-management-page__th" i18n>User</th>
          <th scope="col" class="users-management-page__th" i18n>Role</th>
          <th scope="col" class="users-management-page__th" i18n>Status</th>
          <th scope="col" class="users-management-page__th users-management-page__th--hide-mobile" i18n>Last seen</th>
          <th scope="col" class="users-management-page__th" i18n>Actions</th>
        </tr>
      </thead>
      <tbody>
        @if (isLoading()) {
        @for (i of [1,2,3,4,5]; track i) {
        <tr class="users-management-page__skeleton-row">
          <td class="users-management-page__cell">
            <div class="users-management-page__skeleton-user">
              <app-skeleton-loader height="2.5rem" width="2.5rem" shape="circle"></app-skeleton-loader>
              <div>
                <div class="users-management-page__skeleton-name-wrap">
                  <app-skeleton-loader height="1rem" width="6rem" shape="circle"></app-skeleton-loader>
                </div>
                <app-skeleton-loader height="0.75rem" width="8rem"></app-skeleton-loader>
              </div>
            </div>
          </td>
          <td class="users-management-page__cell"><app-skeleton-loader height="1.5rem" width="4rem" shape="circle"></app-skeleton-loader></td>
          <td class="users-management-page__cell"><app-skeleton-loader height="1rem" width="5rem"></app-skeleton-loader></td>
          <td class="users-management-page__cell users-management-page__cell--hide-mobile"><app-skeleton-loader height="1rem" width="9rem"></app-skeleton-loader></td>
          <td class="users-management-page__cell"><app-skeleton-loader height="2rem" width="6rem"></app-skeleton-loader></td>
        </tr>
        }
        } @else {
        @for(user of users(); track user._id) {
        <tr class="users-management-page__row">
          <td class="users-management-page__cell">
            <div class="users-management-page__user-cell">
              <img class="users-management-page__avatar" [src]="user.avatar"
                [alt]="user.firstName + ' ' + user.lastName">
              <div>
                <a [routerLink]="[{ outlets: { modal: [user._id] } }]" class="users-management-page__user-name">{{ user.firstName }} {{ user.lastName }}</a>
                <div class="users-management-page__user-email">{{ user.email }}</div>
              </div>
            </div>
          </td>
          <td class="users-management-page__cell">
            <span class="users-management-page__role-badge"
              [class.users-management-page__role-badge--admin]="user.role === 'ADMIN'">
              {{ user.role | titlecase }}
            </span>
          </td>
          <td class="users-management-page__cell">
            @if (user.isBanned) {
            <span class="users-management-page__status-badge users-management-page__status-badge--banned" i18n>Banned</span>
            } @else {
            <span class="users-management-page__status-badge users-management-page__status-badge--active" i18n>Active</span>
            }
          </td>
          <td class="users-management-page__cell users-management-page__cell--hide-mobile">
            <div class="users-management-page__last-seen">{{ user.lastSeenAt ? (user.lastSeenAt | date:'medium') : ('Never' ) }}</div>
          </td>
          <td class="users-management-page__cell">
            @if (user._id !== currentAdminId()) {
            <div class="users-management-page__actions">
              <button type="button" (click)="toggleRole(user)" class="users-management-page__role-toggle">
                {{ user.role === 'ADMIN' ? 'Demote' : 'Promote' }}
              </button>
              <button type="button" (click)="toggleBan(user)" class="users-management-page__ban-toggle"
                [class.users-management-page__ban-toggle--banned]="user.isBanned">
                {{ user.isBanned ? 'Unban' : 'Ban' }}
              </button>
            </div>
            } @else {
            <span class="users-management-page__self-label" i18n>You</span>
            }
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5" class="users-management-page__empty-cell">
            <div class="users-management-page__empty">
              <i class="fa-solid fa-user-slash users-management-page__empty-icon"></i>
              <p class="users-management-page__empty-text" i18n>No users found matching your search.</p>
            </div>
          </td>
        </tr>
        }
        }
      </tbody>
    </table>
  </div>
</div>
