<h1 class="users-management-page__title">{{ 'admin.usersManagement.title' | translate }}</h1>

<div class="users-management-page__layout">
  <app-list-filter-sidebar>
    <app-search-input [value]="searchTerm()" [placeholder]="'admin.usersManagement.searchPlaceholder' | translate" (search)="onSearch($event)" />
  </app-list-filter-sidebar>

  <div class="users-management-page__card">
  <div class="users-management-page__toolbar">
    <p class="users-management-page__count">{{ total() }} <span>{{ 'admin.usersManagement.usersTotal' | translate }}</span></p>
  </div>

  <div class="users-management-page__table-wrap">
    <table class="users-management-page__table">
      <thead class="users-management-page__thead">
        <tr>
          <th scope="col" class="users-management-page__th">{{ 'admin.usersManagement.colUser' | translate }}</th>
          <th scope="col" class="users-management-page__th">{{ 'admin.usersManagement.colRole' | translate }}</th>
          <th scope="col" class="users-management-page__th">{{ 'admin.usersManagement.colStatus' | translate }}</th>
          <th scope="col" class="users-management-page__th users-management-page__th--hide-mobile">{{ 'admin.usersManagement.colLastSeen' | translate }}</th>
          <th scope="col" class="users-management-page__th">{{ 'admin.usersManagement.colActions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @if (isLoading()) {
        @for (i of [1,2,3,4,5]; track i) {
        <tr class="users-management-page__skeleton-row">
          <td class="users-management-page__cell">
            <div class="users-management-page__skeleton-user">
              <app-skeleton-loader height="2.5rem" width="2.5rem" shape="circle"></app-skeleton-loader>
              <div>
                <div class="users-management-page__skeleton-name-wrap">
                  <app-skeleton-loader height="1rem" width="6rem" shape="circle"></app-skeleton-loader>
                </div>
                <app-skeleton-loader height="0.75rem" width="8rem"></app-skeleton-loader>
              </div>
            </div>
          </td>
          <td class="users-management-page__cell"><app-skeleton-loader height="1.5rem" width="4rem" shape="circle"></app-skeleton-loader></td>
          <td class="users-management-page__cell"><app-skeleton-loader height="1rem" width="5rem"></app-skeleton-loader></td>
          <td class="users-management-page__cell users-management-page__cell--hide-mobile"><app-skeleton-loader height="1rem" width="9rem"></app-skeleton-loader></td>
          <td class="users-management-page__cell"><app-skeleton-loader height="2rem" width="6rem"></app-skeleton-loader></td>
        </tr>
        }
        } @else {
        @for(user of users(); track user._id) {
        <tr class="users-management-page__row">
          <td class="users-management-page__cell">
            <div class="users-management-page__user-cell">
              <img class="users-management-page__avatar" [src]="user.avatar"
                [alt]="user.firstName + ' ' + user.lastName">
              <div>
                <a [routerLink]="[{ outlets: { modal: [user._id] } }]" class="users-management-page__user-name">{{ user.firstName }} {{ user.lastName }}</a>
                <div class="users-management-page__user-email">{{ user.email }}</div>
              </div>
            </div>
          </td>
          <td class="users-management-page__cell">
            <span class="users-management-page__role-badge"
              [class.users-management-page__role-badge--admin]="user.role === 'ADMIN'">
              {{ user.role | titlecase }}
            </span>
          </td>
          <td class="users-management-page__cell">
            @if (user.isBanned) {
            <span class="users-management-page__status-badge users-management-page__status-badge--banned">{{ 'admin.usersManagement.banned' | translate }}</span>
            } @else {
            <span class="users-management-page__status-badge users-management-page__status-badge--active">{{ 'admin.usersManagement.active' | translate }}</span>
            }
          </td>
          <td class="users-management-page__cell users-management-page__cell--hide-mobile">
            <div class="users-management-page__last-seen">{{ user.lastSeenAt ? (user.lastSeenAt | date:'medium') : ('admin.usersManagement.never' | translate) }}</div>
          </td>
          <td class="users-management-page__cell">
            @if (user._id !== currentAdminId()) {
            <div class="users-management-page__actions">
              <app-icon-button [icon]="user.role === 'ADMIN' ? 'fa-solid fa-arrow-down' : 'fa-solid fa-arrow-up'"
                [ariaLabel]="roleActionLabel(user)" (click)="toggleRole(user)" />
              <app-icon-button [icon]="user.isBanned ? 'fa-solid fa-user-check' : 'fa-solid fa-user-slash'"
                [variant]="user.isBanned ? 'primary' : 'danger'" [ariaLabel]="banActionLabel(user)"
                (click)="toggleBan(user)" />
            </div>
            } @else {
            <span class="users-management-page__self-label">{{ 'admin.usersManagement.you' | translate }}</span>
            }
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="5" class="users-management-page__empty-cell">
            <div class="users-management-page__empty">
              <i class="fa-solid fa-user-slash users-management-page__empty-icon"></i>
              <p class="users-management-page__empty-text">{{ 'admin.usersManagement.noUsersFound' | translate }}</p>
            </div>
          </td>
        </tr>
        }
        }
      </tbody>
    </table>
  </div>
  <div class="users-management-page__pagination">
    <app-pagination [page]="page()" [limit]="limit" [total]="total()" (pageChange)="onPageChange($event)" />
  </div>
  </div>
</div>
