<div #modalRoot class="auth-modal hidden" tabindex="-1" aria-hidden="true">
  <div class="auth-modal__dialog animate-scaleIn">
    <div class="auth-modal__content">
      <div class="auth-modal__grid">
        <!-- Illustration Side -->
        <div class="auth-modal__illustration">
          <app-illustration type="signin"></app-illustration>
          <h3 class="auth-modal__illustration-title">{{ 'auth.modal.illustrationTitle' | translate }}</h3>
          <p class="auth-modal__illustration-subtitle">{{ 'auth.modal.illustrationSubtitle' | translate }}</p>
        </div>
        <!-- Form Side -->
        <div class="auth-modal__form-side">
          <button (click)="close()" type="button" class="auth-modal__close">
            <svg class="auth-modal__close-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
            <span class="sr-only">{{ 'auth.modal.close' | translate }}</span>
          </button>
          <div class="auth-modal__form-inner">
            <h3 class="auth-modal__title">
              {{authModeTitle()}}
            </h3>
            @switch (authState.mode()) {
            @case ('signin') {
            <app-signin-modal (close)="close()" />
            }
            @case ('signup') {
            <app-signup-modal (close)="close()" />
            }
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
