<nav class="pagination" [attr.aria-label]="'shared.pagination.label' | translate">
  <p class="pagination__summary">
    {{ 'shared.pagination.range' | translate: { start: rangeStart(), end: rangeEnd(), total: total() } }}
  </p>
  <div class="pagination__controls">
    <button type="button" class="pagination__button" [disabled]="!canPrev()" (click)="prev()">
      <i class="fa-solid fa-chevron-left"></i>
      <span class="sr-only">{{ 'shared.pagination.previous' | translate }}</span>
    </button>
    <span class="pagination__page">{{ 'shared.pagination.page' | translate: { page: page(), totalPages: totalPages() } }}</span>
    <button type="button" class="pagination__button" [disabled]="!canNext()" (click)="next()">
      <i class="fa-solid fa-chevron-right"></i>
      <span class="sr-only">{{ 'shared.pagination.next' | translate }}</span>
    </button>
  </div>
</nav>
