<h1 class="comments-moderation-page__title" i18n>Comment Moderation</h1>

<div class="comments-moderation-page__card">
  <div class="comments-moderation-page__toolbar">
    <p class="comments-moderation-page__count">{{ total() }} <span i18n>comments total</span></p>
  </div>
  <table class="comments-moderation-page__table">
    <thead class="comments-moderation-page__thead">
      <tr>
        <th scope="col" class="comments-moderation-page__th">Author</th>
        <th scope="col" class="comments-moderation-page__th">Material</th>
        <th scope="col" class="comments-moderation-page__th">Comment</th>
        <th scope="col" class="comments-moderation-page__th">Posted</th>
        <th scope="col" class="comments-moderation-page__th">Actions</th>
      </tr>
    </thead>
    <tbody>
      @if (isLoading()) {
      <tr><td colspan="5" class="comments-moderation-page__row-message" i18n>Loading...</td></tr>
      } @else {
      @for (comment of comments(); track comment._id) {
      <tr class="comments-moderation-page__row">
        <td class="comments-moderation-page__cell-author">{{ comment.author.firstName }} {{ comment.author.lastName }}</td>
        <td class="comments-moderation-page__cell-material">{{ materialTitle(comment) }}</td>
        <td class="comments-moderation-page__cell-text">{{ comment.text }}</td>
        <td class="comments-moderation-page__cell-time">{{ comment.createdAt | date:'medium' }}</td>
        <td class="comments-moderation-page__cell-actions">
          <button type="button" (click)="remove(comment)" class="comments-moderation-page__delete" i18n>Delete</button>
        </td>
      </tr>
      } @empty {
      <tr><td colspan="5" class="comments-moderation-page__row-message comments-moderation-page__row-message--empty" i18n>No comments yet.</td></tr>
      }
      }
    </tbody>
  </table>
</div>
