.progress-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 3px;
  z-index: 101;
  overflow: hidden;
  background-color: #dbeafe; /* Tailwind primary-100 */
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2563eb; /* Tailwind primary-600 */
  animation: indeterminate-progress 1.5s linear infinite;
  transform-origin: 0% 50%;
}

@keyframes indeterminate-progress {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
