<div class="language-switcher">
  <button #trigger type="button" [attr.aria-label]="'languageSwitcher.selectLanguage' | translate"
    title="{{ 'languageSwitcher.selectLanguage' | translate }}"
    class="language-switcher__trigger">
    <img [src]="i18n.current().flag" [alt]="i18n.current().name" class="language-switcher__flag">
    <span class="language-switcher__label">{{ i18n.current().labelShort }}</span>
  </button>
  <div #panel class="language-switcher__panel hidden">
    <ul class="language-switcher__list">
      @for (locale of i18n.locales; track locale.code) {
      <li>
        <button (click)="select(locale.code)" type="button"
          class="language-switcher__option"
          [class.language-switcher__option--active]="locale.code === i18n.locale()">
          <img [src]="locale.flag" [alt]="locale.name" class="language-switcher__flag">
          <span>{{ locale.name }}</span>
        </button>
      </li>
      }
    </ul>
  </div>
</div>
