<div class="autocomplete-lists-page__header">
  <h1 class="autocomplete-lists-page__title">{{ 'admin.autocomplete.listsIndex.title' | translate }}</h1>
  <a [routerLink]="[{ outlets: { modal: ['new'] } }]" class="autocomplete-lists-page__new-button">
    <i class="fa-solid fa-plus autocomplete-lists-page__new-icon"></i>
    {{ 'admin.autocomplete.listsIndex.newList' | translate }}
  </a>
</div>

<div class="autocomplete-lists-page__layout">
  <app-list-filter-sidebar>
    <app-search-input [value]="searchTerm()" placeholder="Search lists" (search)="onSearch($event)" />
  </app-list-filter-sidebar>

  <div class="autocomplete-lists-page__card">
  <table class="autocomplete-lists-page__table">
    <thead class="autocomplete-lists-page__thead">
      <tr>
        <th scope="col" class="autocomplete-lists-page__th">{{ 'admin.autocomplete.listsIndex.colKey' | translate }}</th>
        <th scope="col" class="autocomplete-lists-page__th">{{ 'admin.autocomplete.listsIndex.colLabel' | translate }}</th>
        <th scope="col" class="autocomplete-lists-page__th">{{ 'admin.autocomplete.listsIndex.colDescription' | translate }}</th>
        <th scope="col" class="autocomplete-lists-page__th">{{ 'admin.autocomplete.listsIndex.colActions' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      @if (isLoading()) {
      <tr><td colspan="4" class="autocomplete-lists-page__row-message">{{ 'admin.autocomplete.listsIndex.loading' | translate }}</td></tr>
      } @else {
      @for (list of lists(); track list._id) {
      <tr class="autocomplete-lists-page__row">
        <td class="autocomplete-lists-page__cell-key">{{ list.key }}</td>
        <td class="autocomplete-lists-page__cell">{{ list | translationLabel }}</td>
        <td class="autocomplete-lists-page__cell">{{ list.description }}</td>
        <td class="autocomplete-lists-page__cell">
          <div class="autocomplete-lists-page__actions">
            <a [routerLink]="['/admin/autocomplete', list._id, 'items']" class="autocomplete-lists-page__icon-action"
              [attr.aria-label]="'admin.autocomplete.listsIndex.viewItems' | translate"
              [attr.title]="'admin.autocomplete.listsIndex.viewItems' | translate">
              <i class="fa-solid fa-list"></i>
            </a>
            <a [routerLink]="[{ outlets: { modal: [list._id] } }]" class="autocomplete-lists-page__icon-action"
              [attr.aria-label]="'admin.autocomplete.listsIndex.edit' | translate"
              [attr.title]="'admin.autocomplete.listsIndex.edit' | translate">
              <i class="fa-solid fa-pen"></i>
            </a>
            <app-icon-button icon="fa-solid fa-trash" variant="danger" [ariaLabel]="'admin.autocomplete.listsIndex.delete' | translate"
              (click)="remove(list)" />
          </div>
        </td>
      </tr>
      } @empty {
      <tr><td colspan="4" class="autocomplete-lists-page__row-message">{{ 'admin.autocomplete.listsIndex.noLists' | translate }}</td></tr>
      }
      }
    </tbody>
  </table>
  <div class="autocomplete-lists-page__pagination">
    <app-pagination [page]="page()" [limit]="limit" [total]="total()" (pageChange)="onPageChange($event)" />
  </div>
  </div>
</div>
