<aside #sidebar id="default-sidebar" aria-label="Sidebar" class="admin-sidebar -translate-x-full">
  <div class="admin-sidebar__inner">
    <div class="admin-sidebar__header">
      <a routerLink="/admin" class="admin-sidebar__brand">
        <i class="fa-solid fa-shield-halved admin-sidebar__brand-icon"></i>
        <span class="admin-sidebar__brand-text">Admin Panel</span>
      </a>
      <button (click)="closeSidebar()" type="button" class="admin-sidebar__close">
        <span class="sr-only">Close sidebar</span>
        <i class="fa-solid fa-times"></i>
      </button>
    </div>
    <ul class="admin-sidebar__nav">
      @for (link of navLinks; track link.path) {
      <li>
        <a [routerLink]="link.path" routerLinkActive="admin-sidebar__link--active"
          [routerLinkActiveOptions]="{exact: true}" (click)="closeSidebar()" class="admin-sidebar__link group">
          <i [class]="link.icon" class="admin-sidebar__link-icon"></i>
          <span class="admin-sidebar__link-text">{{ link.label | translate }}</span>
        </a>
      </li>
      }
    </ul>
    <div class="admin-sidebar__footer">
      <a routerLink="/home" class="admin-sidebar__link group">
        <i class="fa-solid fa-arrow-left admin-sidebar__link-icon"></i>
        <span class="admin-sidebar__link-text">Back to Main Site</span>
      </a>
    </div>
  </div>
</aside>
