<nav class="header">
  <div class="header__bar">
    <a routerLink="/" class="header__logo">
      <svg class="header__logo-icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd"
          d="M4 2a2 2 0 00-2 2v12a2 2 0 002 2h12a2 2 0 002-2V4a2 2 0 00-2-2H4zm10 10a1 1 0 01-1 1H7a1 1 0 110-2h6a1 1 0 011 1zm-1-4a1 1 0 00-1-1H7a1 1 0 100 2h6a1 1 0 00-1-1z"
          clip-rule="evenodd"></path>
      </svg>
    </a>
    <div class="header__actions">
      <app-language-switcher></app-language-switcher>
      <button (click)="settingsService.toggleTheme()" type="button"
        [attr.aria-label]="(settingsService.theme() === 'dark' ? 'header.themeToggle.toLight' : 'header.themeToggle.toDark') | translate"
        title="{{ 'header.themeToggle.title' | translate }}"
        class="header__theme-toggle">
        @if (settingsService.theme() === 'dark') {
        <svg class="header__theme-icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.706-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z">
          </path>
        </svg>
        } @else {
        <svg class="header__theme-icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
        </svg>
        }
      </button>
      @if (sessionStore.isAuthenticated()) {
      <div class="header__user">
        <a *appPermissionOnly="['ADMIN']" routerLink="/admin" class="header__admin-link">
          <i class="fa-solid fa-user-shield header__admin-link-icon"></i>
          <span>{{ 'header.adminPanel' | translate }}</span>
        </a>
        <div class="header__user-menu">
          <button #userMenuTrigger type="button" class="header__avatar-button" id="user-menu-button" aria-expanded="false">
            <span class="sr-only">{{ 'header.openUserMenu' | translate }}</span>
            <img class="header__avatar" [src]="currentUser()?.avatar" alt="user photo">
          </button>
          <div #userMenuPanel class="header__dropdown hidden" id="user-dropdown">
            <div class="header__dropdown-header">
              <span class="header__dropdown-name">{{ currentUser()?.firstName }} {{ currentUser()?.lastName }}</span>
              <span class="header__dropdown-email">{{ currentUser()?.email }}</span>
            </div>
            <ul class="header__dropdown-list" aria-labelledby="user-menu-button">
              @for (menuItem of profileMenuItems(); track menuItem.id) {
              <li>
                <a [routerLink]="menuItem.path" class="header__dropdown-link">
                  {{ menuItem.label | translate }}
                </a>
              </li>
              }
              <li>
                <a (click)="logout()" class="header__dropdown-link header__dropdown-link--action">
                  {{ 'header.logout' | translate }}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      } @else {
      <div class="header__guest-actions">
        <button (click)="authUi.openModal('signin')" type="button" class="header__signin-button">{{
          'header.signin' | translate }}</button>
        <button (click)="authUi.openModal('signup')" type="button" class="header__signup-button">{{
          'header.signup' | translate }}</button>
      </div>
      }
      <button #mobileToggle type="button" class="header__mobile-toggle" aria-controls="navbar-user" aria-expanded="false">
        <span class="sr-only">{{ 'header.openMainMenu' | translate }}</span>
        <svg class="header__mobile-toggle-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div #mobileMenu id="navbar-user" class="header__mobile-menu hidden">
      <ul class="header__nav-list">
        @for (menuItem of visibleMenuItems(); track menuItem.id) {
        <li>
          <a [routerLink]="menuItem.path" routerLinkActive="header__nav-link--active"
            [routerLinkActiveOptions]="{exact: menuItem.exact || false}" (click)="closeMobileMenu()"
            class="header__nav-link">
            {{ menuItem.label | translate }}
          </a>
        </li>
        }
      </ul>
    </div>
  </div>
</nav>
<app-auth-modal-container></app-auth-modal-container>
